:root{
    --sombra: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body{
    height: 100%;
    width: 100vw;
}

.color-main {
    background-color: #f46262
}

.navbar {
    background-color: #000;
}
.navbar-nav .nav-link.active {
    color: #c25953;
}
.navbar-nav .nav-link, .navbar-brand {
    color: #fff;
}
.cta-button {
    background-color: #f46262;
    color: #fff;
}

.cta-button:hover {
    background-color: #c25953;
    color: #fff;
}

.info-box {
    background-color: #dcdcdc;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: #7f7f7f;
    color: #fff;
    padding: 10px;
    text-align: start;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.footer>a{
    color: #fff;
    text-decoration: none;
}

.footer>a:hover{
    text-decoration: underline;
}

.footer-top{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.side-images {
    background-color: #dcdcdc;
    height: 180px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.widthCuarenta {
    width: 40% !important;
}

.card{
    border-style: none;
}

.cont {
    display: inline-block;
}

.clientes{
    animation: marcas 15s linear infinite;
    flex-direction: row;
    gap: 15px;
    display: flex;
    width: calc(200%);
    position: relative;
    overflow: hidden;
}

.cliente>img{
    width: auto;
    height: 120px;
}

@keyframes marcas {
    from{
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.imagenTapada{
    position: sticky;
    top: 0;
    z-index: 0;
    background-color: black;
    color: white;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenTapadaImg{
    width: auto;
    height: 300px;
    margin-bottom: 300px;
}

.texto{
    position: relative;
    background-color: #fff;
    top: 0px;
    box-shadow: var(--sombra);
    height: 500px;
    z-index: 1;
}